.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

textarea,
input:not([type='submit']) {
  height: 50px;
  padding-left: 16px;
  width: 250px;
}

textarea {
  padding-top: 16px;
  resize: none;
  height: 250px;
}

input,
textarea {
  border-radius: 20px;
  border: #888 1px solid;
  box-sizing: border-box;
  justify-self: center;
  background-color: var(--background-color);
  color: var(--form-text-color);
}

::placeholder {
  color: var(--form-text-color);
}

input[type='submit'] {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: 20px;
  width: 126px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  margin: auto;
}

input[type='submit']:hover {
  transform: scale(1.05);
}

input[type='submit']:active {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  transform: translateY(2px);
}

@media (width >= 800px) {
  textarea,
  input:not([type='submit']) {
    width: 600px;
    font-size: 20px;
  }
  form {
    gap: 40px;
  }
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 20px; /* Increased gap between icons */
  padding: 20px 0; /* Adds padding above and below the social links */
  margin-top: 20px; /* Additional space above the social links */
}

.socialLink img {
  width: 40px; /* Increase or adjust size as needed */
  transition: transform 0.3s ease;
}

.socialLink:hover img {
  transform: scale(1.1); /* Slight enlargement on hover */
}

/* Adjust form submission button placement */
input[type='submit'] {
  margin-top: 40px; /* Adds more space above the submit button */
  margin-bottom: 20px; /* Space below the submit button */
}

@media (width >= 1400px) {
  textarea,
  input:not([type='submit']) {
    width: 800px;
  }
}
